<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 mx-2 h1"><strong>My Dashboard</strong></span>
    </div>
</nav>

<div class="my-5 d-grid gap-3">

    <div class="card shadow mx-auto mt-2" style="width: 85%;">
        <div class="card-header">
            <div><strong>New Post</strong></div>
        </div>
        <div class="card-body">

            <form class="form new-post-form d-grid gap-3 mx-auto">
                <div>
                    <input class="form-control" type="text" id="newPostTitleInput" placeholder="Post Title" />
                </div>
                <div>
                    <textarea class="form-control" id="newPostContentTextarea" rows="4"
                        placeholder="Enter your post content here..."></textarea>
                </div>
                <div class="mx-auto">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-plus-lg"></i> Create New Post</button>
                </div>
            </form>

        </div>
    </div>

</div>

{{#if logged_in}}
<script src="/js/newpost.js"></script>
{{/if}}