<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 mx-2 h1"><strong>The Tech Blog</strong></span>
  </div>
</nav>

<div class="my-5 d-grid gap-4">
  <div class="shadow rounded-3 mx-auto" style="width: 30%;">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button"
          role="tab" aria-controls="login" aria-selected="true">Login</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button"
          role="tab" aria-controls="signup" aria-selected="false">Sign-Up</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
        <div class="m-5">
        <form class="form login-form d-grid gap-3">
          <div class="form-group d-flex justify-content-between">
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group d-flex justify-content-between">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group mx-auto">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>
        </div>
      </div>
      <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
        <div class="m-5">
          <form class="form signup-form d-grid gap-3">
            <div class="form-group d-flex justify-content-between">
              <label for="name-signup">Name:</label>
              <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group d-flex justify-content-between">
              <label for="email-signup">Email:</label>
              <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group d-flex justify-content-between">
              <label for="password-signup">Password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group mx-auto">
              <button class="btn btn-primary" type="submit">Sign-Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>

<script src="/js/login.js"></script>