<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 mx-2 h1"><strong>My Dashboard</strong></span>
    </div>
</nav>

<div class="my-5 d-grid gap-3">

    <div class="card shadow mx-auto mt-2" style="width: 85%;">
        <div class="card-header">
            <div><strong>Edit Post</strong></div>
        </div>
        <div class="card-body">

            <form class="form edit-post-form d-grid gap-3 mx-auto" post-id={{id}}>
                <div>
                    <textarea class="form-control" id="editPostTitleInput" rows="1">{{title}}</textarea>
                </div>
                <div>
                    <textarea class="form-control" id="editPostContentTextarea" rows="4">{{content}}</textarea>
                </div>
                <div class="d-flex justify-content-center d-grid gap-5">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-cloud-upload-fill"></i> Update Post</button>
                    <button class="btn btn-primary" id="delPostBtn"><i class="bi bi-trash"></i> Delete Post</button>
                </div>
            </form>

        </div>
    </div>

</div>

{{#if logged_in}}
<script src="/js/editpost.js"></script>
{{/if}}